.categories ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.categories ul li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
.categories ul li:hover {
    background-color:#f7c894a1;
}
.categories ul li:active {
    background-color: #ececec;
}
.categories ul li.active {
    background-color: #ff7623;
    color: #fff;
}