.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    column-gap: 40px;
    row-gap: 40px;
}

.item-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 310px;
    min-height: 310px;
    padding: 10px;
}

.item-card-img {
    margin: 0 auto;
}

.item-card__info {
    display: flex;
    justify-content: center;
    padding: 12px 0 0 0;
    row-gap: 20px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
}

.item-card__info-content {
    display: flex;
    justify-content: space-between;
}


.item-card__info-description {
    min-height: 60px;
}

.item-card__info-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 200px;
}

.card-price span {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--elementsColor);
}

.cart-button {
    display: flex;
    justify-content: center;
}

.cart-button__add {
    color: var(--mainColor);
    background-color: var(--elementsColor);
    width: 150px;
    padding: 10px 14px;
    margin: 12px 0 27px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px rgb(189, 189, 191);
    text-align: center;
    display: flex;
    column-gap: 5px;
}

.cart-button__counter {
    width: 20px;
    height: 20px;
    color: var(--elementsColor);
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}